#logo {
    height: 4rem;
    margin-left: 1rem;
    margin-right: 2rem;
}
#headerTitle {
    font-size: 3rem;
}


.fixed {
    top: 0;
    margin:0;
    padding: O;
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: 100%;
    position: fixed;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5rem;
    background-color: #f5f5f5;
    width: 100%;
    padding: 0;
    margin: 0;
}

nav { 
    background: #1e1e2f;  
    width: 100%;
    color: white; 
    display: flex; 
    padding-top: 1rem; 
    padding-bottom: 1rem;
}

#navPages { 
    display: flex; 
    gap: 2rem; 
    padding: 1rem; 
    margin-left: 1rem;
}
#navConnection { 
    display: flex; 
    gap: 2rem; 
    padding: 1rem; 
    margin-left: auto;
    margin-right: 1rem;
    
}

nav a { color: white; 
    text-decoration: none; 
}
nav a:hover { 
    border-bottom: 2px solid yellow; 
}

.navItem {
    border-bottom: 2px solid #1e1e2f;
}

footer {
    text-align: center;
    align-items: center;
}

