html {
  font-size: clamp(14px, 1vw + 0.5rem, 20px);
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 5rem;
    padding-bottom: 200rem;
    background-color: #2c2e31;
}

body {
    margin: 0;
    padding: 0;
}