.product {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}

.product-image {
    width: 20em;
}

.image-frame {
    aspect-ratio: 1;
    display: flex;            /* centrer le contenu */
    align-items: center;      /* centre verticalement */
    justify-content: center;
}

.product-title-price {
    font-size: 1rem;
    width: 80%;
    color: black;
    font-weight: bold;
    margin: 0.15rem; 
}

.product-subtitle {
    font-size: 1rem;
    width: 80%;
    color: #8e8e90;
    margin: 0.15rem;
}